*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    /* 1rem=10px */
    /* by default 1rem=16px */
}

body{
    background-color:#0A2DA7;
}
.heading-title{
    font-size: 8rem;
    margin-top: 5rem;
    margin-left: 5rem;
    text-transform: capitalize;
    color: white;
    font-family: Inter;
}

.heading-sub-title{
color: #AB34B5;
}
.sub-heading{
    font-family:Inter;
    font-size: 2.2rem;
    margin-top: 1rem;
    margin-left: 5rem;
    color: white;

}

.avatar{
    width: 14%;
    margin-top: 8rem;
    margin-left: 43%;
}

.services{
    font-family: Inter;
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align:center;
    letter-spacing:2px;
    color: white;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-left:5rem;
    margin-top: 5rem;
}

.footer-text{
    font-family: Inter;
    font-size: 28px;
    color: white;
    margin-right: 4rem;
    text-transform:capitalize;
}

.Lets-Start{
    height: 40px;
    width: 150px;
    border: 1px;
    background: transparent;
    border-color: white;
    border-radius: 5px;
    border-style: solid;
    font-weight: bold;
    font-size: 1.8rem;
    cursor: pointer;
    letter-spacing: 1px;
    color: white;
}

.Lets-Start:hover{
    background-color: white;
    transition: 0.4s;
    color: white;
}